@* about Template File *@
@(param: Any)
<p>We are witnessing the formation of an Internet of Things (IoT), where real-world objects and places(e.g., plants, chairs, rooms) are augmented with sensors (e.g., motion detectors, microphones, cameras) and actuators (e.g., motors, LED, speakers) are connected to the Internet, enabling them to publish their generated data on the Web. By mashing up these "smart things'', or Things, with the services and data available on the Web, novel IoT applications can be created.</p>

<p>Much like we are searching the current Internet for documents (e.g., Web pages, videos), we believe that an essential application for the IoT will be "search the IoT for real-world objects and places (i.e., Things)". 
For example, a car driver may want to find an empty parking spot nearby, or a building manager may want to find out which electronic appliances are currently consuming excessive power. 
Since Things (i.e., parking spots, electronic appliances) are augmented with sensors, the underlying problem that needs to be solved is:</p> 

<p><center><b>Find sensors in the IoT, whose <i>recent</i> output is within a certain range [a, b].</b></center></p>

<p>The information about the found sensors (e.g., their type, location, and description) will be used to answer the above questions.
For example, excessively power consuming electronic appliances are those whose embedded sensors are reading values in the range [1500 Watts, 2000 Watts].</p>

<p>Our search engine, <b>ThingSurf</b>, is an attempt to tackle this problem. Given a value range <b>[a, b]</b>, and a time interval <b>t</b> time units, ThingSurf returns sensors available in the IoT whose output during the last <b>t</b> time units fall <i>mostly</i> within <b>[a, b]</b>.</p> 

<p>Currently, ThingSurf is still in early stage, indexing live output of more than 50000 sensors on a single commodity server. Its search service can be accessed by any software program through a set of RESTful API calls.</p>

<p>This web site is a front-end for ThingSurf, which uses ThingSurf's API. 
To perform a search for sensors via this web site, please enter a search query in either of following forms:</p>

<ul>
<li>"X <b>range:</b>a b t Y" or "X <b>range </b>a b t Y": to find sensors in the IoT whose output falls <i>mostly</i> within <b>[a, b]</b> during the last <b>t</b> minutes and description contains any word in the strings X or Y. 
For example: "temperature <b>range </b>18 19" or "temperature <b>range:</b>18 19 °C".</li>
<li>"a b t" : to find sensors in the IoT whose output falls <i>mostly</i> within <b>[a, b]</b> during the last <b>t</b> minutes.
For example: "18 19 10".</li>
<li>"a b" : a special case,  to find sensors in the IoT whose output falls <i>mostly</i> within <b>[a, b]</b> during the last <b>15</b> minutes.
For example: "18 19".</li>
</ul>

<p>After entering the query, sensors that are found by ThingSurf will be returned along with their meta-information and actual sensor output. The results are ranked based on their relevance.</p>

<p>For more information, please contact: <b>Cuong Truong</b> at <b>tduccuong@@gmail.com.</b></p>